/**
 * @file.
 * Adds 3d view with focal point at front, works best with 3 visible slides.
 * Detailed stylings are all yours, get yourself dirty.
 */
.slick--skin--3d-back {
  overflow: hidden;
  padding-top: 30px;
}
.slick--skin--3d-back .slick-list {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;
  margin: 0 -120px;
}
@media (min-width: 65em) {
  .slick--skin--3d-back .slick-list {
    margin: 0 -210px;
  }
}
.slick--skin--3d-back .slick-track {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.slick--skin--3d-back .slide {
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 1s ease 0s, transform 1s;
  transition: opacity 1s ease 0s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}
.slick--skin--3d-back .slide .slide__caption {
  bottom: 0;
  padding: 30px 0;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.slick--skin--3d-back .slide--current ~ .slide {
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.slick--skin--3d-back .slide--current.slide {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.slick--skin--3d-back .slide--current.slide .slide__caption {
  bottom: auto;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.slick--skin--3d-back .slick__arrow {
  left: 50%;
  margin-left: -25%;
  width: 50%;
}
.slick--skin--3d-back .slick-dots {
  bottom: 0;
}
