/**
 * @file
 * Best with 1 slidesToShow, placed at external region.
 * Detailed stylings are all yours, get yourself dirty.
 */
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  overflow: hidden;
}
body.page-admin {
  overflow: visible;
}

.slick-wrapper--fullscreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}
.page-admin .slick-wrapper--fullscreen {
  position: relative;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen {
  height: 100%;
  min-height: 100%;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slick-list,
.slick-wrapper--fullscreen .slick--skin--fullscreen .slick-track,
.slick-wrapper--fullscreen .slick--skin--fullscreen .slick__slide,
.slick-wrapper--fullscreen .slick--skin--fullscreen .slide__content,
.slick-wrapper--fullscreen .slick--skin--fullscreen .media,
.slick-wrapper--fullscreen .slick--skin--fullscreen .slide__media {
  height: 100% !important;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slick-track {
  margin: 0;
  padding: 0;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slick__slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slide__media img {
  height: auto !important;
  margin: 0 auto;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  width: 100%;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slide__constrained {
  left: 50%;
  margin-left: -49%;
  position: absolute;
  top: 10%;
  width: 98%;
  z-index: 2;
  min-height: 210px;
}
.slick-wrapper--fullscreen .slick--skin--fullscreen .slide__constrained .slide__caption {
  position: relative;
}
@media (min-width: 65em) {
  .slick-wrapper--fullscreen .slick--skin--fullscreen .slide__constrained {
    left: 50%;
    margin-left: -49%;
    position: absolute;
    top: 15%;
    width: 98%;
    z-index: 2;
  }
}
@media (min-width: 90em) {
  .slick-wrapper--fullscreen .slick--skin--fullscreen .slide__constrained {
    left: 50%;
    margin-left: -585px;
    position: absolute;
    top: 0;
    width: 1170px;
    z-index: 2;
  }
}

.slick--skin--fullscreen .slide__caption {
  font-size: 22px;
  font-size: 1.375rem;
  color: #fff;
}
.slick--skin--fullscreen .slide__title {
  color: #fff;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.slick--skin--fullscreen .slide__link a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.slick--skin--fullscreen .slide__link a:hover {
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}
