/**
 * @file
 * asNavFor.
 * Main display has class "slick--display--main".
 * Thumbnail has class "slick--display--thumbnail".
 */
.slick--display--thumbnail.slick--skin--asnavfor {
  margin: 0 auto;
  padding: 0;
  width: 96%;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick-list {
  margin: 0 -20px;
  padding: 30px 40px;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide {
  margin: 0 2px;
  opacity: 0;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0.2s;
  -moz-transition: -moz-transform 0.4s ease-in-out 0.2s;
  -o-transition: -o-transform 0.4s ease-in-out 0.2s;
  transition: transform 0.4s ease-in-out 0.2s;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide img {
  border: 6px solid transparent;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide.slide--current {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 3;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide.slide--current:before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: white;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 1;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide.slide--current img {
  border-color: white;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__slide.slick-active {
  opacity: 1;
}
.slick--display--thumbnail.slick--skin--asnavfor.slick--center .slick-track {
  padding-bottom: 40px;
  padding-top: 40px;
}
.slick--display--thumbnail.slick--skin--asnavfor.slick--center .slick__slide {
  opacity: 0;
}
.slick--display--thumbnail.slick--skin--asnavfor.slick--center .slick-active {
  opacity: 1;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__arrow .slick-disabled {
  pointer-events: none;
  opacity: 0;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__arrow .slick-prev {
  left: -20px;
}
.slick--display--thumbnail.slick--skin--asnavfor .slick__arrow .slick-next {
  right: -20px;
}
