/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
 * Transform is more performed than positions.
 */
.slick--skin--classic .slick__slide {
  overflow: hidden;
  position: relative;
}
.slick--skin--classic .slick__caption {
  height: auto;
  min-height: 80px;
}
.slick--skin--classic .slide--caption--stage-zebra:nth-child(odd) .slide__caption,
.slick--skin--classic .slide--caption--stage-left .slide__caption,
.slick--skin--classic .slide--caption--left .slide__caption {
  left: 0;
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transform: translateX(-320px);
}
.slick--skin--classic .slide--caption--stage-zebra:nth-child(even) .slide__caption,
.slick--skin--classic .slide--caption--stage-right .slide__caption,
.slick--skin--classic .slide--caption--right .slide__caption {
  left: auto;
  right: 0;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transform: translateX(320px);
}
.slick--skin--classic .slide--caption--stage-zebra .slide__caption,
.slick--skin--classic .slide--caption--stage-left .slide__caption,
.slick--skin--classic .slide--caption--stage-right .slide__caption,
.slick--skin--classic .slide--caption--left .slide__caption,
.slick--skin--classic .slide--caption--right .slide__caption {
  height: 100%;
  top: 0;
  width: 22%;
}
.slick--skin--classic .slide--caption--top .slide__caption,
.slick--skin--classic .slide--caption--center-top .slide__caption {
  top: 0;
  -webkit-transform: translateY(-210px);
  -moz-transform: translateY(-210px);
  -ms-transform: translateY(-210px);
  -o-transform: translateY(-210px);
  transform: translateY(-210px);
}
.slick--skin--classic .slide--caption--bottom .slide__caption {
  bottom: 0;
  top: auto;
  -webkit-transform: translateY(210px);
  -moz-transform: translateY(210px);
  -ms-transform: translateY(210px);
  -o-transform: translateY(210px);
  transform: translateY(210px);
}
.slick--skin--classic .slide--caption--center .slide__caption {
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
}
.slick--skin--classic .slide--caption--center:hover .slide__caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
.slick--skin--classic .slide--caption--stage-zebra .slide__caption,
.slick--skin--classic .slide--caption--stage-left .slide__caption,
.slick--skin--classic .slide--caption--stage-right .slide__caption,
.slick--skin--classic .slide--caption--left .slide__caption,
.slick--skin--classic .slide--caption--right .slide__caption,
.slick--skin--classic .slide--caption--top .slide__caption,
.slick--skin--classic .slide--caption--center-top .slide__caption,
.slick--skin--classic .slide--caption--bottom .slide__caption {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  min-height: 80px;
  -webkit-transition: transform 1s ease-in-out 0.2s;
  transition: transform 1s ease-in-out 0.2s;
}
.slick--skin--classic .slide--caption--stage-zebra.slick-active .slide__caption,
.slick--skin--classic .slide--caption--stage-left.slick-active .slide__caption,
.slick--skin--classic .slide--caption--stage-right.slick-active .slide__caption,
.slick--skin--classic .slide--caption--left.slick-active .slide__caption,
.slick--skin--classic .slide--caption--right.slick-active .slide__caption,
.slick--skin--classic .slide--caption--top.slick-active .slide__caption,
.slick--skin--classic .slide--caption--center-top.slick-active .slide__caption,
.slick--skin--classic .slide--caption--bottom.slick-active .slide__caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.slick--skin--classic .slide--caption--stage-zebra,
.slick--skin--classic .slide--caption--stage-left,
.slick--skin--classic .slide--caption--stage-right,
.slick--skin--classic .slide--caption--left,
.slick--skin--classic .slide--caption--right {
  min-height: 100%;
  top: 0;
  width: 22%;
}
.slick--skin--classic .slide--caption--stage-zebra .slide__caption,
.slick--skin--classic .slide--caption--stage-left .slide__caption,
.slick--skin--classic .slide--caption--stage-right .slide__caption,
.slick--skin--classic .slide--caption--left .slide__caption,
.slick--skin--classic .slide--caption--right .slide__caption {
  margin: 0;
}
.slick--skin--classic .slide--caption--stage-zebra .slide__caption .slide__data,
.slick--skin--classic .slide--caption--stage-left .slide__caption .slide__data,
.slick--skin--classic .slide--caption--stage-right .slide__caption .slide__data,
.slick--skin--classic .slide--caption--left .slide__caption .slide__data,
.slick--skin--classic .slide--caption--right .slide__caption .slide__data {
  margin: 0;
  padding: 30px 15px;
}
