/**
 * Horizontal tabs.
 */
.horizontal-tabs {
  fieldset.horizontal-tabs-pane {
    margin-top: 10px;
    padding: 0;
  }

  .fieldset-wrapper {
    padding: 0;
  }

  ul.horizontal-tabs-list {
    background: none;
    border: 0;
    @include font-size(14px);
    li {
      background: none;
      border: 0;
      text-align: center;
      &:hover,
      &:focus {
        background-color: transparent;
      }

      a {
        background: $light-grey;
        text-transform: uppercase;
        &:hover {
          background: $dark;
          border: 0;
          color: white;
        }
      }
      &.selected {
        a {
          background: $dark;
          strong {
            color: white;
          }
        }
      }
    }
  }
}