@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
 */
.slick--skin--boxed-carousel {
  .slick-list {
    margin: 0 60px;
  }
  .slide__content {
    background: $white;
    border: 1px solid lighten($light-grey, 10);
    border-bottom: 2px solid lighten($light-grey, 10);
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    @include transition(box-shadow .3s .5s ease, border .3s .5s ease);

    &:hover {
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.4));
      @include transition-delay(0s);
      border-color: lighten($color-1, 40);
    }
    
    .slide__title {
      @include font-size(22px);
      
      // Overrides Bartik over-specified.
      #content & {
        @include font-size(22px);
      }
    }
  }
}
