@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";

/**
 * @file.
 * Provided basic layout and styling for the Slick based on custom settings.
 * Detailed stylings are all yours, get yourself dirty.
 */
@import "../base/**/*";
@import "components/**/*";

.media,
.slide__media  {
  overflow: hidden;
  position: relative;
}

.slick__image {
  margin: 0 auto;
}

/**
 * Slide layouts, adjust accordingly per actual container slide.
 */
.slide__caption {
  @include font-size(16px);
  left: 0;
  min-height: 32%;
  margin-top: 0;
  padding: 20px;
  position: absolute;
  text-align: left;
  top: 10%;
  width: 84%;
  z-index: 3;

  .slide--caption--below & {
    position: relative;
    top: auto;
    width: 100%;
  }

  .slide--caption--center & {
    margin-top: -16%;
    top: 50%;
  }

  .slide--caption--center &,
  .slide--caption--center-top & {
    left: 50%;
    margin-left: -42%;
    padding: 0;
    text-align: center;
  }

  .slide--caption--right & {
    right: 0;
  }

  .slide--caption--top &,
  .slide--caption--bottom & {
    width: 100%;
  }

  .slide--caption--top & {
    top: 0;
  }

  .slide--caption--bottom & {
    bottom: 0;
  }

  .slick--has-arrow-down .slide--caption--bottom & {
    padding-bottom: 80px;
  }
}


@include breakpoint($ipad-up, true) {
  .slide__caption {
    width: 42%;

    .slide--caption--center &,
    .slide--caption--center-top & {
      margin-left: -21%;
    }
  }
}

/**
 * Skins.
 */
.slide__title {
  margin: 10px 0 5px;
  line-height: 1.2;
  .slick--carousel & {
    @include font-size(22px);
  }
}

.slide__link {
  margin: $vert-spacing-unit auto;
  text-transform: uppercase;

  .field-item {
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

.slide__pattern {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;

  // Overrides accordingly.
  .slick--has-pattern & {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAWdEVYdENyZWF0aW9uIFRpbWUAMjUvMDQvMTHvvlk6AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAA5JREFUCJljSGB4wPAAAAVmAiGdUf+vAAAAAElFTkSuQmCC') repeat 0 0;
  }
}

/**
 * Bullets.
 */
/* Overrides too tiny bullets from core slick.css */
// I don't like dots styling, should be pure CSS, but leave it for now.
.slick-dots li button:before {
  font-size: 12px;
  font-size: 0.75rem;
}

/* Overrides .slick-slider to make caption text selectable. */
.slide__caption {
  cursor: text;
  @include user-select(text);
}

/**
 * @todo drop, temp Bartik overrides.
 */
#content .slide__title {
  margin: 10px 0 5px;
  line-height: 1.2;

}

#content .slick--carousel .slide__title {
  @include font-size(22px);
}

.slick .field-type-image img {
  margin-bottom: 0;
}