@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 */
.slick-wrapper {
  margin-bottom: 60px;
}

.slide .field-type-text-long {
  padding: 20px 0 10px;
}