@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";

/**
 * @file.
 * Adds 3d view with focal point at back, best with centerMode + 3 slidesToShow.
 * Detailed stylings are all yours, get yourself dirty.
 */
// http://24ways.org/2010/intro-to-css-3d-transforms/
$arrow-width: 50% !default;
$rotate: 25deg !default;
.slick--skin--3d-back.slick-initialized {
  overflow: hidden;
  padding-bottom: $vert-spacing-unit; // to keep dots visible.
  padding-top: $vert-spacing-unit;

  .slick-list {
    margin: 0 -120px;

    @include breakpoint($desk, true) {
      margin: 0 -210px;
    }
  }

  .slide {
    overflow: hidden;

    .slide__content {
      @include perpective(1500px);
      @include transform-style(preserve-3d);
    }

    .slide__media {
      margin: $vert-spacing-unit 0;
      @include transform(rotateY($rotate));
      @include backface-visibility(hidden);
      @include transition(opacity 1s ease 0s, transform 1s);
      -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    .slide__caption {
      bottom: 0;
      padding: 0;
      position: relative;
      @include element-hoverable();
      @include scale(0);
    }
  }
  .slide--current {
    ~ .slide {
      .slide__media {
        @include transform(rotateY(-$rotate));
      }
    }
    &.slide {
      .slide__media {
        @include transform(rotateY(0deg));
      }

      .slide__caption {
        bottom: auto;
        position: relative;
        @include element-hoverable-hovered();
        @include scale(1);
        // @include transition-delay(0.2s);
      }
    }
  }

  .slick__arrow {
    left: 50%;
    margin-left: -$arrow-width/2;
    width: $arrow-width;
  }

  .slick-dots {
    bottom: 0;
  }
}
