@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 */

/**
 * Pure CSS fluid video wrapper.
 */
.media__iframe,
.slick__capture,
.slick__slide picture {
  border: 0 none;
  display: block;
  max-width: 100%;
}

.media--switch--player {
  .media__iframe {
    background: rgba(0, 0, 0, .8);
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

// 16:9 ratio
// Media swicth player overlay is always using aspect ratio to allow layering
// properly.
.slide__overlay {
  /* 16:9 ratio */
  .media--switch--player {
    height: 0;
    padding-bottom: 56.25%;

    .media__iframe,
    .slick__image,
    picture {
      border: 0 none;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
       z-index: 0;
    }

    picture .slide__image {
      height: auto;
      position: relative;
    }
  }
}

/**
 * Aspect ratio applied to the main image, unless overriden to just overlay.
 */
.slick--ratio {

}

/* 16:9 ratio */
.slick--ratio--file .media--player,
.slick--ratio--field-collection .slide__media {
  height: 0;
  padding-bottom: 56.25%;
}

.slick--ratio--file .media--player,
.slick--ratio--field-collection .slide__media {
   picture,
  .media__iframe,
  .slick__image {
    border: 0 none;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  picture .slide__image {
    height: auto;
    position: relative;
  }
}

/* 4:3 ratio */
.slick--ratio--43 {
  &.slick--ratio--field-collection .slide__media,
  &.slick--ratio--file .media--player {
    padding-bottom: 75%;
  }
}

/**
 * Aspect ratio applied to the overlay image/audio/video only.
 * Ratio overlay only applies to FC, default to .slide__overlay.
 */
.slick--ratio-overlay {
  &.slick--ratio--field-collection .slide__media {
    height: auto;
    padding-bottom: 0;

    picture,
    .media__iframe,
    .slick__image {
      height: auto;
      position: relative;
    }
  }
  // 4:3 ratio
  &.slick--ratio--43 .slide__overlay .media--switch {
    padding-bottom: 75%;
  }
}

// .media--switch .slick__image,
.media--switch .media__iframe,
.media-icon {
  @include transition(visibility 0s linear 0.5s, opacity 0.5s linear);
}

.media-icon {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 9;
}

.media-icon--play,
.media-icon--close,
.media-icon--spinner {
  height: 80px;
  left: 50%;
  margin: -40px 0 0 -40px;
  top: 50%;
  width: 80px;
}

.media-icon--close:before,
.media-icon--close:after,
.media-icon--play:before {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
}

.media-icon--close {
  &:before,
  &:after {
    background: white;
    border-radius: 4px;
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -40px;
    top: 50%;
    width: 80px;
    @include transform(rotate(45deg));
  }
  &:after {
    @include transform(rotate(-45deg));
  }
  &:hover:before,
  &:hover:after {
    background-color: $color-2;
  }
  
  .is-playing & {
    visibility: hidden;
  }
}

.media-icon--play {
  border: 8px solid white;
  border-radius: 50%;
  &:before {
    border: 16px solid transparent;
    border-left: 24px solid white;
    left: 50%;
    line-height: 60px;
    margin: -16px 0 0 -6px;
    top: 50%;
  }
  &:hover {
    border-color: $color-2;
    &:before {
      border-left-color: $color-2;
    }
  }
}

.is-playing:hover .media-icon {
  @include transition-delay(0s);
}

.media--switch .slick__image,
.media-icon--play,
.is-playing .media__iframe,
.is-playing:hover .media-icon--close {
  opacity: 1;
  visibility: visible;
}

.is-playing .media__iframe,
.slick--ratio .is-playing .media__iframe {
  z-index: 3;
}

.is-playing.media--switch + .slide__pattern,
.is-playing.media--switch .slick__image,
.is-playing .media-icon--play,
.is-playing:hover .media-icon--play,
.slick--ratio .is-playing .slick__image {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.is-playing .slide__pattern {
  display: none;
}

/**
 * Fallback non-JS.
 */
.no-js {
  .media--switch {
    .slick__image,
    .media-icon  {
      opacity: 0;
      visibility: hidden;
    }
    .media__iframe  {
      opacity: 1;
      visibility: visible;
    }
  }
}
