@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 */
.colorbox-on--video,
.colorbox-on--audio {
  #colorbox,
  #cboxContent,
  #cboxLoadedContent {
    @include box-sizing(border-box !important);
  }

  #cboxBottomCenter,
  #cboxBottomRight,
  #cboxBottomLeft,
  #cboxTopCenter,
  #cboxTopRight,
  #cboxTopLeft,
  #cboxMiddleLeft,
  #cboxMiddleRight {
    display: none;
    height: 0 !important;
    width: 0 !important;
  }

  #cboxWrapper,
  #cboxContent {
    background: none;
    border-radius: 0;
  }
  #cboxContent,
  #cboxLoadedContent {
    overflow: visible !important;
  }
  #cboxLoadedContent .cboxIframe {
    @include background-clip(padding-box !important);
    border-radius: 0;
    border: 8px solid $color-1;
  }
}

.media-icon--colorbox {
  cursor: pointer;
  display: block;
  height: 80px;
  left: 50%;
  margin: -40px 0 0 -40px;
  opacity: 0;
  position: absolute;  
  top: 50%;
  width: 80px;  
  visibility: hidden;
  z-index: 9;
  @include transition(visibility 0s linear 0.5s, opacity 0.5s linear);
}

.media-icon--colorbox:before,
.media-icon--colorbox:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
}

.media-icon--colorbox {
  z-index: 9;
  &:before,
  &:after {
    background: white;
    border-radius: 4px;
    height: 2px;
    left: 50%;
    margin: -1px 0 0 -40px;
    top: 50%;
    width: 80px;    
    @include transform(rotate(0deg));
  }
  &:after {
    @include transform(rotate(-90deg));
  }
  &:hover:before,
  &:hover:after {
    background-color: $color-2;
  }
}

.media:hover .media-icon--colorbox {
  @include transition-delay(0s);
}

.media:hover .media-icon--colorbox,
.media--switch .slick__image {
  opacity: 1;
  visibility: visible;
}



