/**
 * @file
 * Overrides over-specified tough Seven.
 */
#field-display-overview .field-formatter-settings-edit-form .form--slick,
.form--field.form--slick {
  background: #fafafa;
  border: 1px solid #9bacc3;
  *zoom: 1;
  -webkit-box-shadow: 0 0 0 4px #ddf5fb;
  box-shadow: 0 0 0 4px #ddf5fb;
  margin: 30px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form--slick:after,
.form--field.form--slick:after {
  content: "";
  display: table;
  clear: both;
}
#field-display-overview .field-formatter-settings-edit-form .form--slick .form-item,
.form--field.form--slick .form-item {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-left: 0;
  border-top: 1px solid white;
  padding: 20px 0 12px;
  margin: 0;
  width: 50%;
}
#field-display-overview .field-formatter-settings-edit-form .form--slick .form-item label,
.form--field.form--slick .form-item label {
  width: 210px;
}
#field-display-overview .field-formatter-settings-edit-form .form--slick .form-type-checkboxes,
.form--field.form--slick .form-type-checkboxes {
  border: 4px solid #e7e7e7;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  position: relative;
}
#field-display-overview .field-formatter-settings-edit-form .form--slick .form-type-checkboxes > label,
.form--field.form--slick .form-type-checkboxes > label {
  background: #e7e7e7;
  display: block;
  font-weight: 600;
  line-height: 42px;
  margin-top: -1px;
  min-height: 42px;
  padding-top: 20px;
  width: 100%;
}

#field-display-overview tbody tr.field-formatter-settings-editing {
  background: #f4fcfe;
}

#edit-fields-field-media-settings-edit-form-actions {
  clear: both;
  float: left;
  width: 100%;
}

#edit-style-options-slick.form--slick .fieldset-description {
  padding: 5px 15px;
}
