// Color variables.
$white         : #fff !default;
$white-trans   : rgba(255,255,255,.8) !default;
$dark          : #000 !default;
$dark-trans    : rgba(0,0,0,.8) !default;

// Solid corp colors that should be able to have white text color.
// ef5400:orange, 00aedb:blue, 008299:teal, 8C0095:purple, 8ec127:lime,
// 339933:green, A05000:brown, E51400:red

$color-1       : #37465b !default; // dark blue x 662d91 purple also button dark
$color-1-rgba  : rgba(36,55,70,.8) !default;
$color-2       : #ff6d2c !default; // orange logo x d7df21 lime
$color-3       : #9ec3ca !default; // light blue blog background
$color-4       : #6ad3ef !default; // blue twitter bg

$base-color    : #38465c !default;
$base-bg-color : $white !default;

$main-color    : $color-1 !default;

$grey          : #808080 !default; // menu color
$mid-grey      : #828282 !default; // inactive about slide text
$light-grey    : #dadada !default; // button grey
$lightest-grey : #fafafa !default;

$dark-text     : #111 !default;

// Form
$form-label       : $dark-text !default;
$form-border      : transparent !default;
$placeholder-color : $dark-text !default;

$input-bg         : $white !default;
$input-color      : $dark-text !default;
$input-border     : $light-grey !default;
$input-focus      : $color-1 !default;

$button-bg           : $light-grey !default;
$button-color        : $dark-text !default;
$button-hover-bg     : $color-2 !default;
$button-hover-color  : $white !default;
$button-border       : $light-grey !default;
$button-hover-border : $color-2 !default;
