// Override them if you like. Timing-function and delay are set to false for 
// browser defaults (ease, 0s).
$default-transition-property: all !default;

$default-transition-duration: 1s !default;

$default-transition-function: false !default;

$default-transition-delay: false !default;

$transitionable-prefixed-values: transform, transform-origin !default;

$experimental-support-for-svg: true;


$transition              : all .4s ease-in-out 0s;
// Usage: @include transition(transform $transition...)
$transition-transform-slow    : 8s ease-in-out 1s;
$transition-transform-1  : 1s ease-in-out .2s;
$transition-transform-2  : .4s ease-in-out .2s;
$transition-bg           : background-color .2s ease-in-out 0s;
$transition-position     : background-position .2s ease-in-out 0s;
$transition-all          : all .4s ease-in-out 0.2s;
$transition-quick        : all .4s ease-in-out 0s;
$transition-menu         : visibility 0s linear 0.5s, opacity .5s linear, margin .5s ease; // Bad for Safari: visibility 0.1s linear, opacity 0.5s linear, margin 0.5s ease;
$transition-delay-1      : 0s; // Bad for Safari: 0.1s;
$transition-icon         : min-width .3s ease-in .2s;
$transition-width        : width .6s ease-out .8s, max-width .5s linear 0s;
$transition-min-width    : min-width .3s ease-in .2s;
$transition-max-width    : max-width .5s linear 0s;
$transition-margin       : margin-right .3s ease-in .2s;
$transition-slow         : all 8s ease-in-out 1s;
$transition-visibility   : visibility 0s linear 0.5s;
$transition-hover        : visibility 0s linear 0.5s, opacity 0.5s linear;
$transition-hover-down   : visibility 0s linear 0.5s, opacity 0.2s linear, top 0.2s linear .2s;
$transition-hover-bg     : visibility 0s linear 0s, opacity 0.2s linear, background-color .2s ease-in-out 0s;
$transition-text-indent  : text-indent 0s linear 0.5s;
$transition-margin-right : margin-right .3s ease-in .2s;
$transition-bottom       : bottom .3s ease-in .2s;
