$base-font        : "Open Sans", Arial, sans-serif;
$base-font-2      : "Raleway", Arial, sans-serif;

$icon-font        : 'fontello';
$base-font-family : $base-font;
$print-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$base-font-size   : 16px;
$base-line-height : 22px;

$base-font-size-large   : 16px;
$base-line-height-large : 26px;

$weight-light     : 300 !default;

$weight-regular   : 400 !default;
$weight-medium    : 500 !default;
$weight-semibold  : 600 !default;
$weight-bold      : 700 !default;
$weight-extrabold : 800 !default;

$heading-font-family     : $base-font-2 !default;

$page-title-font-family  : $heading-font-family !default;
$block-title-font-family : $heading-font-family !default;
