.slick *,
.slick *:before,
.slick *:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
object,
embed,
// iframe,
audio,
canvas,
video {
  border: 0;
  max-width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
}
