/**
 * Checkboxes.
 */
.form--slick {
  .form-disabled {
		cursor: not-allowed;
	}

  input[type="checkbox"] {
    display: block;
    height: 24px;
    line-height: 22px;
    max-width: 100%;
    min-width: 48px;
    opacity: 0;
    position: absolute;
    z-index: 3;

    ~ .field-suffix {
      background: white;
      @include background-image(linear-gradient(rgba(0, 0, 0, 0.1), transparent), linear-gradient(90deg, $color-4 50%, transparent 50%));
      background-size: 200% 100%;
      background-position: 100% 0;
      background-origin: border-box;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.3);
      @include box-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset);
      display: inline-block;
      font-size: 150%;
      height: 22px;
      margin: 0;
      overflow: hidden;
      @include transition-duration(.4s);
      @include transition-property(padding, width, background-position, text-indent);
      vertical-align: middle;
      width: 48px;

      &:before,
      &:after {
        font: bold 11px/20px sans-serif;
        text-transform: uppercase;
        line-height: 22px;
      }

      &:after {
        color: rgba(0, 0, 0, 0.45);
        content: 'Off';
        float: left;
        text-indent: 4px;
        text-shadow: none;
      }
    }

    // &.on + .field-suffix,
    &:checked ~ .field-suffix {
      padding-left: 48px;
      width: 22px;
      background-position: 0 0;
    }

    // &.on + .field-suffix:before,
    &:checked ~ .field-suffix:before {
      background: white;
      @include background-image(linear-gradient(rgba(0, 0, 0, 0.2), transparent));
      @include box-shadow(0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3));
      border: 1px solid rgba(0, 0, 0, 0.35);
      border-radius: inherit;
      content: 'On';
      float: left;
      height: 22px;
      margin: -1px;
      color: white;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
      text-indent: -32px;
      width: 22px;
    }

    &:active ~ .field-suffix:before {
      background-color: lighten($light-grey, 5);
    }

    &:focus ~ .field-suffix {
      @include box-shadow(0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset, 0 0 0.4em 1px $color-4);
    }
		&[disabled] {
		  ~ .field-suffix:before,
      ~ .field-suffix:after {
		    opacity: 0.5;
			}
		}
  }

  .form-type-checkbox label {
    display: inline-block;
    float: none;
    padding: .8em;
    position: relative;
    border-top-width: 0;
  }
}