/**
 * Tooltip
 * !important declaration is to override Seven.
 */
.has-tooltip .form-item {
  position: relative;

  > .description {
    background: $dark;
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    bottom: 120%;
    @include box-shadow(0 2px 10px -2px $dark);
    color: $light-grey !important;
    display: block;
    @include font-size(12px);
    // left: 50%;
    // margin-left: -120px !important;
    min-height: 40px;
    max-width: 320px;
    min-width: 210px;
    position: absolute !important;
    padding: 12px !important;
    opacity: 0;
    overflow: hidden;
    right: 0;
    visibility: hidden;
    @include transition(compact(all .4s ease-in 0s));
    text-align: left;
    white-space: normal;
    z-index: 99;

    a {
      color: $white;
      font-weight: 600;
    }

    &:after {
      border: 10px solid rgba(0,0,0,0);
      border-right: 10px solid $dark;
      border-top: 0;
      bottom: -10px;
      content: "";
      display: block;
      height: 0;
      // left: 50%;
      // margin-left: -10px;
      opacity: .6;
      position: absolute;
      right: 20px;
      width: 0;
      z-index: 99;
    }
  }

  &.form-type-checkboxes > .description,
  &.form-type-textarea > .description {
    margin-left: -30% !important;
    max-width: 60% !important;
    min-width: 60% !important;
    width: 60% !important;
  }

  &.form-type-checkboxes > .description {

  }

  // JS hover dependent.
  &.selected,
  &.hover {
    > .description {
      bottom: 100%;
      display: block;
      opacity: 1 !important;
      visibility: visible;
      overflow: visible !important;
    }

    .hint {
      display: block;
    }

  }

  &.selected {
    > .description {
      padding-left: 20px !important;
      &:before {
        color: $light-grey;
        content: "x";
        display: block;
        font-family: sans-serif;
        height: 20px;
        left: 5px;
        line-height: 18px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 0;
      }
    }
  }
}

.no-js .has-tooltip .form-item {
  &:hover > .description {
    bottom: 100%;
    display: block;
    opacity: 1 !important;
    visibility: visible;
    overflow: visible !important;
  }
}

.form-item {
  .hint {
      background: $mid-grey;
      border-radius: 50%;
      color: $white;
      content: '?';
      cursor: default;
      display: none;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin: 0;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 5px;
      text-align: center;
      top: 5px;
      z-index: 8;
      .form--slick__header & {
        top: 16px;
        right: -5px;
      }
  }
  &:hover .hint {
    display: block;
  }
}
