/**
 * Header
 */
.form--slick__title {
  background: lighten($light-grey, 5);
  clear: both;
  display: block;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  min-height: 42px;
  padding: 20px 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  small {
    display: block;
    text-transform: none;
  }  
}

.form--slick__header {
  margin-bottom: 15px;
}

.form--slick .form--slick__header {
 .form-item {
    background: none;
    border: 0;
    float: none;
    display: inline-block;
    margin-right: -5px;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
    input {
      width: 210px;
      max-width: 210px;
    }

    label  {
      float: none;
      text-align: left;
    }
  }
  
  .form-item-label {
    width: 72%;
  }

  .form-item-skin,
  .form-item-breakpoints {
    float: right;
    width: auto;
  }

  .form-item-skin label,
  .form-item-breakpoints label {
    width: auto;
  }  

  div[class*="-breakpoint"] input {
    width: 40px;
  }

  .form-item-skin .description {
    bottom: 90% !important;
    max-width: 480px;
    width: 480px;
  }
}
