/**
 * Slick center, depends on JS centerMode with partial view if visible ones > 2.
 */
.slick--center {
  // Prevent cropped slick-center by adding space.
  .slick-track {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  &.slick--display--thumbnail .slick-track {
    padding-bottom: 0;
    padding-top: 0;
  }

  .slide__content {
    margin: 2px;
  }

  .slick__slide {
    opacity: 0.2;
    @include transition(all 300ms ease);
    &.slick-active {
      opacity: 1;
    }
    &.slick-center {
      z-index: 2;
    }
  }
}