
@mixin element-hoverable() {
  @include opacity(0);
  visibility: hidden;
  @include transition($transition-quick);
  -webkit-backface-visibility: hidden;
}  

@mixin element-hoverable-hovered() {
  @include opacity(1);
  visibility: visible;
}