@mixin max-container($max-container: 98%) {
  float: none;
  max-width: $max-container;
  margin-left: auto;
  margin-right: auto;
  @include pie-clearfix;
}

@mixin max-container-absolute($max-container: 98%, $top: 0, $position: absolute) {
  left: 50%;
  margin-left: -$max-container/2;
  position: $position;
  top: $top;
  width: $max-container;
  z-index: 2;
}