//
// Hide elements from all users.
//
// Used for elements which should not be immediately displayed to any user. An
// example would be collapsible details that will be expanded with a click
// from a user. The effect of this class can be toggled with the jQuery show()
// and hide() functions.
//
@mixin hidden {
  display: none;
}

%hidden {
  @include hidden;
}

//
// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
//
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

%visually-hidden {
  @include visually-hidden;
}

//
// The .focusable class extends the .visually-hidden class to allow
// the element to be focusable when navigated to via the keyboard.
//
@mixin visually-hidden-focusable {
  &.focusable:active,
  &.focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    width: auto;
  }
}

%visually-hidden-focusable {
  @include visually-hidden-focusable;
}

//
// Hide visually and from screen-readers, but maintain layout.
//
@mixin invisible {
  visibility: hidden;
}

%invisible {
  @include invisible;
}