/**
 * Fieldset.
 */
.form--slick { 
  fieldset {
    margin: 40px 0;
    padding: $vert-spacing-unit 0;
    border-color: $grey;
    
    .fieldset-description {
      padding: 5px 15px;
    }

    &.form-wrapper {
      margin: 0 0 20px;
      padding: $vert-spacing-unit 0;
      border: 0;
    }
    &.filter-wrapper {
      margin: 2px 0 0;
      padding: 0;
    }

    legend {
      @include font-size(18px);
      padding: 0 0.8em;
    }

    .fieldset-title {
      color: $dark-text;
      display: block;
      &:hover {
        color: $color-2;
        text-decoration: none;
      }
      &:focus {
        outline: 0;
      }
    }
  }

  /**
   * Overrides over-specified Seven fieldset.
   */

  fieldset {
    padding: $vert-spacing-unit $horz-spacing-unit;
  }

  fieldset fieldset {
    background: none;
    padding: 60px 0 1em;
  }
  
  .vertical-tabs {
    fieldset {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .fieldset--responsive--ajax {
    padding: 0;
    > .fieldset-wrapper {
      padding: 0;
    }
    > legend,
    .fieldset--settings > legend {
      @include visually-hidden;
    }
    .fieldset--responsive {
      padding-left: $horz-spacing-unit;
      padding-right: $horz-spacing-unit;
      
      .fieldset--settings {
        border: 1px solid $light-grey;
        padding: 0;
      }
    }
    .fieldset--settings {
      
    }
  }
}

html.js .form--slick {
  .collapsible,
  .collapsed {
    border: 0;

    legend {
      display: block;
      padding: 0;
      position: relative;
      width: 100%;
    }
    .fieldset-legend {
      background: none;
      margin: 10px;
      padding: 0;
      position: absolute;
      width: 100%;
    }
  }

  .collapsible .fieldset-legend {
    span.summary {
      @include visually-hidden;
      margin: 0;
    }
    .fieldset-legend-prefix {
      background: $color-1;
      display: inline-block;
      float: none;
      height: 36px;
      left: 0;
      line-height: 42px;
      margin-right: 10px;
      position: relative;
      text-indent: -9999px;
      top: 0;
      vertical-align: middle;
      width: 36px;
      @include transition(background .3s .5s ease);

      &:before, &:after {
        @include line($white);
        position: absolute;
        left: 8px;
        content: '';
        text-indent: 0;
        @include transform-origin(50% 50%);
        @include transition(top .3s .6s ease, transform .3s ease);
      }
      &:before {
        @include transform(rotate3d(0,0,1,45deg));
        top: 18px;
      }
      &:after {
        @include transform(rotate3d(0,0,1,-45deg));
        top: 18px;
      }
    }
  }

  .collapsed {
    height: 40px;
    margin: 20px 0;
    padding: 0;
    .fieldset-legend .fieldset-legend-prefix {
      background: lighten($color-1, 50);

      &:before, 
      &:after {
        @include transition(top .3s ease, transform .3s .5s ease);
        top: 16px;
        width: 18px;
      }
      &:before {
        @include transform(rotate3d(0,0,1,90deg));
      }
      &:after {
        @include transform(rotate3d(0,0,1,180deg));
      }
    }
  }
}
