@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 * Vertical tabs. Lets face it, VT over-specified selector is for a reason:
 * not easily get broken. And that is not a breeze to override.
 * And we don't want to CSS alter for a partial use case.
 */
.form--slick {
  div.vertical-tabs {
    border: 1px solid lighten($color-1, 60) !important;
  }
  
  div.vertical-tabs,
 .fieldset--responsive .fieldset--settings {
    border-radius: 0;
    @include box-shadow(0 0 0 4px lighten($light-grey, 12));
    clear: both;
    float: left;
    margin: 1em auto;
    width: 100%;
  }

  div.vertical-tabs {
    background: lighten($light-grey, 12);
    clear: both;
    position: relative;
    padding: 1em;
    margin: 0 0 1em;
    
    fieldset {
      border: 0;
    }

    .vertical-tabs-list {
      border: 0;
      float: left; /* LTR */
      line-height: 1;
      margin: 0 -100% -1px 0; /* LTR */
      padding: 20px 0 0;
      position: relative;
      width: 16%;
      z-index: 2;
    }

    ul li {
      &.vertical-tab-button {
        list-style: none;
        list-style-image: none;
        margin: 0;
        a {
          color: $grey;
          display: block;
          @include font-size(14px);
          line-height: 22px;
          padding: 10px 20px;
          text-align: right;
          text-decoration: none !important;
          &:hover,
          &:focus {
            background: none;
            outline: 0;
            color: $dark;
          }
        }
        
        strong {
          @include font-size(14px);
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

       .summary {
          color: $dark;
          display: block;
          @include font-size(11px);
          padding-top: 0.4em;
        }
      }
      
      &.vertical-tab-button a,
      &.first a {
        border-top: 0;
      }
      
      &.selected a,
      &.selected a:hover,
      &.selected a:focus,
      &.selected a:active {
        @include background-image(linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, $white 100%)); 
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
        border-left: 1px solid $light-grey;
        border-radius: 5px 0 0 5px;
        color: $dark;
        text-decoration: none;
        margin-right: -2px;
      }

      &.selected a:focus strong {
        text-decoration: none;
      }      
    }
  } // div.vertical-tabs

  div.vertical-tabs-panes {
    background: lighten($light-grey, 10);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid $light-grey;
    border-radius: 1px;
    padding: 0;
    min-height: 200px;
    margin: 0 0 0 16%; /* LTR */
    
    > fieldset {

    }
    > fieldset,
    > fieldset:first-child {
      border: 0;
      margin: 0;
      padding-top: 0 !important;
    }

    .fieldset-wrapper > div:first-child {
      padding-top: 20px;
    }

    .fieldset-description {
      padding: 5px 15px;
    }

    > fieldset > legend,
    > fieldset:first-child > legend {
      @include visually-hidden;
    }  
  }
}

@media all and (max-width: 768px) {
  .form--slick {
    div.vertical-tabs {
      .vertical-tabs-panes {
        margin: 0;
      }

      .vertical-tabs-list {
        border-bottom: 2px solid $light-grey;
        margin: 0 0 1em;
        padding: 1em;
        width: 100%;

        li {
          float: none;
          display: inline-block;
        }
      }
      ul li {
        &.selected a,
        &.selected a:hover,
        &.selected a:focus,
        &.selected a:active {
          border: 1px solid $light-grey;
          border-radius: 0;
          background: $white;
        }
      }
    }

    .vertical-tab-button .summary {
      @include visually-hidden;
    }
  }
}
