@charset "UTF-8";

// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";
@import "compass/typography/vertical_rhythm";

// Import variables, abstractions, base styles and components using globbing.
@import "../variables/**/*";
@import "../abstractions/**/*";
/**
 * @file
 * Overrides over-specified tough Seven.
 */
#field-display-overview .field-formatter-settings-edit-form .form--slick,
.form--field.form--slick {
  background: $lightest-grey;
  border: 1px solid lighten($color-1, 40);
  @include pie-clearfix;
  @include box-shadow(0 0 0 4px lighten($color-4, 25));
  margin: $vert-spacing-unit 0;
    
  .form-item {
    border-bottom: 1px solid lighten($light-grey, 5);
    border-right: 1px solid lighten($light-grey, 5);
    border-left: 0;
    border-top: 1px solid $white;
    padding: 20px 0 12px;
    margin: 0;
    width: 50%;
    label {
      width: 210px;
    }
  }

  .form-type-checkboxes {
    border: 4px solid lighten($light-grey, 5);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    position: relative;
    
    > label {
      background: lighten($light-grey, 5);
      display: block;
      font-weight: 600;
      line-height: 42px;
      margin-top: -1px;
      min-height: 42px;
      padding-top: 20px;
      width: 100%;
    }
  }
}

#field-display-overview tbody tr.field-formatter-settings-editing {
  background: lighten($color-4, 30);
}

#edit-fields-field-media-settings-edit-form-actions {
  clear: both;
  float: left;
  width: 100%;
}

#edit-style-options-slick.form--slick { 
  .fieldset-description {
    padding: 5px 15px;
  }
}